* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: steelblue;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 5em auto;
    padding: 4em;
    background-color: rgb(201, 226, 241);
    border-radius: 1em;
}


label {
    display: block;
}

input {
    margin-bottom: 1em;
    width: 95%;
    height: 2em;
    border-radius: 3px;
    border: 1px solid grey;
}

#searchForm input {
    width: 50%;
    height: 3em;
}

.form_button {
    background-color: rgb(46, 46, 210);
    color: white;
    font-weight: bold;
    padding: 1em;
    border: none;
    width: 8em;
    border-radius: 4px;
}

#searchButton {
    margin-left: 2px;
    padding: 1em;
    background-color: rgb(255, 119, 0);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;

}

.table_container {
    height: 30em;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6dcd8f;
}